body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
} 
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    background-image: linear-gradient(rgba(247, 155, 80, 0.842), rgb(250, 108, 26));
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    font-weight: 800;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 38%;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 20px 20px 40px grey;
    border-radius: 20px;
}
#full-stack-item{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#telco-experience-item{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.experience-item h2{
    font: 40px;
}
section h1{
    padding-left: 10px;
}
footer p{
    text-align: center;
}